<footer class="footer dark-bg">
    <div class="container main d-flex flex-wrap justify-content-center justify-content-lg-between">
        @@include('./_brand.html', {class: 'brand--invert'})
        <div class="footer_contacts col-12 col-md-6 col-lg-auto">
            <h3 class="footer_contacts-title title">Quick Contacts</h3>
            <div class="footer_contacts-content d-flex flex-column align-items-center align-items-lg-start">
                <p class="address">50 Raritan Center Pkwy, Edison, NJ 08837, USA</p>
                <div class="wrapper d-inline-flex flex-column align-items-start">
                    <a class="link link--contact d-inline-flex align-items-center" href="tel:+001112221234">
                        <i class="icon-call icon"></i>
                        +00 111 222 1234
                    </a>
                    <a class="link link--contact d-inline-flex align-items-center" href="mailto:bestrong@gmail.com">
                        <i class="icon-mail icon"></i>
                        bestrong@gmail.com
                    </a>
                </div>
                <ul class="socials d-flex align-items-center">
                    <li class="socials-item">
                        <a class="link" href="https://instagram.com" target="_blank" rel="noopener noreferrer">
                            <i class="icon-instagram"></i>
                        </a>
                    </li>
                    <li class="socials-item">
                        <a class="link" href="https://twitter.com" target="_blank" rel="noopener noreferrer">
                            <i class="icon-twitter"></i>
                        </a>
                    </li>
                    <li class="socials-item">
                        <a class="link" href="https://facebook.com" target="_blank" rel="noopener noreferrer">
                            <i class="icon-facebook"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer_tags col-12 col-md-6 col-lg-auto">
            <h3 class="footer_tags-title title">Popular Tags</h3>
            <div class="footer_tags-wrapper d-flex flex-wrap justify-content-center justify-content-lg-start">
                <a class="tag col-auto" href="javascript:void(0)">Crossfit</a>
                <a class="tag col-auto" href="javascript:void(0)">Workout</a>
                <a class="tag col-auto" href="javascript:void(0)">Zumba</a>
                <a class="tag col-auto" href="javascript:void(0)">Training</a>
                <a class="tag col-auto" href="javascript:void(0)">Boxing</a>
                <a class="tag col-auto" href="javascript:void(0)">Schedule</a>
                <a class="tag col-auto" href="javascript:void(0)">Nutrition</a>
                <a class="tag col-auto" href="javascript:void(0)">Gym</a>
                <a class="tag col-auto" href="javascript:void(0)">Plans</a>
            </div>
        </div>
    </div>
    <div class="footer_nav">
        <div class="container">
            @@include('./_nav.html', {ulclass: 'footer_nav-list d-flex', liclass: 'footer_nav-list_item'})
        </div>
    </div>
    <div class="footer_copyright">
        <div class="container">©2019 Prelude by Gym-Co. All Rights Reserved</div>
    </div>
</footer>
<script src="js/common.js"></script>
